<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un profil</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Ajouter un profil</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_name">Nom du profil:</label>
                <input type="text" id="id_name" name="name" required>
            </div>
            <div class="form-group">
                <label for="id_account_types">Types de comptes:</label>
                {{ form.account_types }}
            </div>
            <button type="submit" class="btn">Ajouter</button>
        </form>
    </div>
</body>
</html>
